<mat-card>
  <mat-card-header>
    <mat-card-title>Buy Product</mat-card-title>
    <mat-card-subtitle>add product to vending machine</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="productForm" (ngSubmit)="validateBuyProduct()">
      <mat-form-field>
        <mat-label>Product</mat-label>
        <mat-select formControlName="product" (selectionChange)="onSelectProduct($event)">
          <mat-option *ngFor="let product of products" [value]="product.id">{{ product.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="add-form-space">
        <mat-label>Quantity</mat-label>
        <input matInput placeholder="Quantity" formControlName="quantity">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cash</mat-label>
        <mat-select formControlName="cash">
          <mat-option *ngFor="let cash of CASH" [value]="cash">{{ cash }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="add-form-space">
        <mat-label>Cash Amount</mat-label>
        <input  matInput placeholder="Amount" formControlName="amount">
      </mat-form-field>
      <button type="submit">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
