<html>
<head>
  <meta charset="UTF-8">
  <title>Images List</title>
</head>

<body>

  <div class="header" align="center">
    <h1>Images List</h1>
  </div>
  <br>

  <div class="container">
    <div class="gallery col-12 col-s-12">
      <!-- 1 -->
      <div class="gallery-item">
        <img src="assets/img/civil_war.jpg" class="gallery-image">
        <div class="gallery-item-info">
          <p (click)="openComponent('civil_war')">
            Captain America: Civil War is a 2016 American superhero film based on the Marvel Comics character Captain America, produced by Marvel Studios and distributed by
            Walt Disney Studios Motion Pictures. The film is directed by Anthony and Joe Russo, with a screenplay by the writing team of Christopher Markus and Stephen McFeely,
            and stars Chris Evans as Steve Rogers/Captain America, alongside an ensemble cast including Robert Downey Jr., Scarlett Johansson, Sebastian Stan, Anthony Mackie,
            Don Cheadle, Jeremy Renner, Chadwick Boseman, Paul Bettany, Elizabeth Olsen, Paul Rudd, Emily VanCamp, Tom Holland, Frank Grillo, William Hurt, and Daniel Brühl.
            In Captain America: Civil War, disagreement over international oversight of the Avengers fractures them into opposing factions—one led by Steve Rogers and the other by Tony Stark.
          </p>
        </div>
      </div>

      <!-- 2 -->
      <div class="gallery-item">
        <img src="assets/img/doctor_strange.jpg" class="gallery-image">
        <div class="gallery-item-info">
          <p (click)="openComponent('doctor_strange')">
            Doctor Stephen Strange is a fictional superhero appearing in American comic books published by Marvel Comics. Created by artist Steve Ditko and writer Stan Lee,
            the character first appeared in Strange Tales #110 (cover-dated July 1963). Doctor Strange serves as the Sorcerer Supreme, the primary protector of Earth against magical and mystical threats.
            Inspired by stories of black magic and Chandu the Magician, Strange was created during the Silver Age of Comic Books to bring a different kind of character and themes of mysticism to Marvel Comics.
          </p>
        </div>
      </div>

      <!-- 3 -->
      <div class="gallery-item">
        <img src="assets/img/fantastic_four.jpg" class="gallery-image">
        <div class="gallery-item-info">
          <p (click)="openComponent('fantastic_four')">
            Fantastic Four: Rise of the Silver Surfer is a 2007 American superhero film, and sequel to the 2005 film Fantastic Four.
            Both films are based on the Fantastic Four comic book and were directed by Tim Story. The film stars Ioan Gruffudd, Jessica Alba, Chris Evans, and Michael Chiklis as the title characters,
            with Julian McMahon, Kerry Washington, Andre Braugher, and Laurence Fishburne in supporting roles. The plot follows the Fantastic Four (and Doctor Doom) as they confront, and later ally with,
            the Silver Surfer to save Earth from Galactus.
          </p>
        </div>
      </div>

      <!-- 4 -->
      <div class="gallery-item">
        <img src="assets/img/guardians_of_the_galaxy.jpg"
          class="gallery-image">
        <div class="gallery-item-info">
          <p (click)="openComponent('guardians_of_the_galaxy')">
            Guardians of the Galaxy is a 2014 American superhero film based on the Marvel Comics superhero team of the same name. Produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures,
            it is the 10th film in the Marvel Cinematic Universe (MCU). The film was directed by James Gunn, who wrote the screenplay with Nicole Perlman, and features an ensemble cast including Chris Pratt,
            Zoe Saldana, Dave Bautista, Vin Diesel, and Bradley Cooper as the titular Guardians, along with Lee Pace, Michael Rooker, Karen Gillan, Djimon Hounsou, John C. Reilly, Glenn Close, and Benicio del Toro.
            In Guardians of the Galaxy, Peter Quill forms an uneasy alliance with a group of extraterrestrial criminals who are on the run after stealing a powerful artifact.
          </p>
        </div>
      </div>

      <!-- 5 -->
      <div class="gallery-item">
        <img src="assets/img/hulk.jpg" class="gallery-image">
        <div class="gallery-item-info">
          <p (click)="openComponent('hulk')">
            The Hulk is a fictional superhero appearing in publications by the American publisher Marvel Comics.
            Created by writer Stan Lee and artist Jack Kirby, the character first appeared in the debut issue of The Incredible Hulk (May 1962).
            In his comic book appearances, the character is both the Hulk, a green-skinned, hulking and muscular humanoid possessing a vast degree of physical strength,
            and his alter ego Dr. Robert Bruce Banner, a physically weak, socially withdrawn, and emotionally reserved physicist, the two existing as independent personalities and resenting of the other.
          </p>
        </div>

      </div>

      <!-- 6 -->
      <div class="gallery-item">
        <img src="assets/img/into_the_spider_verse.jpg" class="gallery-image">
        <div class="gallery-item-info">
          <p (click)="openComponent('into_the_spider_verse')">
            Spider-Man: Into the Spider-Verse is a 2018 American computer-animated superhero film, featuring the Marvel Comics character Miles Morales/Spider-Man, produced by Columbia Pictures and Sony Pictures Animation
            in association with Marvel, and distributed by Sony Pictures Releasing. It is the first animated feature film in the Spider-Man franchise, and is set in a shared multiverse called the "Spider-Verse",
            which has alternate universes. The film was directed by Bob Persichetti, Peter Ramsey, and Rodney Rothman from a screenplay by Phil Lord and Rothman, and a story by Lord.
            It stars the voice of Shameik Moore as Miles Morales/Spider-Man, alongside Jake Johnson, and Hailee Steinfeld. In the film, Miles Morales joins other Spider-Men from various dimensions who team up to save New York City from Kingpin.
          </p>
        </div>
      </div>

      <!-- 7 -->
      <div class="gallery-item">
        <img src="assets/img/spider_man_2.jpg" class="gallery-image">
        <div class="gallery-item-info">
          <p (click)="openComponent('spider_man_2')">
            The Amazing Spider-Man 2 is a 2014 American superhero film featuring the Marvel Comics character Spider-Man. The film was directed by Marc Webb and produced by Avi Arad and Matt Tolmach.
            It is the fifth theatrical Spider-Man film produced by Columbia Pictures and Marvel Entertainment, and the sequel to 2012's The Amazing Spider-Man.
            The studio hired James Vanderbilt to write the screenplay and Alex Kurtzman and Roberto Orci to rewrite it.
          </p>
        </div>
      </div>

      <!-- 8 -->
      <div class="gallery-item">
        <img src="assets/img/the_avengers.jpg" class="gallery-image">
        <div class="gallery-item-info">
          <p (click)="openComponent('the_avengers')">
            Marvel's The Avengers is a 2012 American superhero film based on the Marvel Comics superhero team of the same name, produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures.
            It is the sixth film in the Marvel Cinematic Universe (MCU). The film was written and directed by Joss Whedon and features an ensemble cast that includes Robert Downey Jr., Chris Evans, Mark Ruffalo,
            Chris Hemsworth, Scarlett Johansson, and Jeremy Renner as the titular Avengers team, alongside Tom Hiddleston, Clark Gregg, Cobie Smulders, Stellan Skarsgård, and Samuel L. Jackson. In the film, Nick Fury, director of the spy agency S.H.I.E.L.D.,
            recruits Tony Stark, Steve Rogers, Bruce Banner, and Thor to form a team that must stop Thor's brother Loki from subjugating Earth.
          </p>
        </div>
      </div>

      <!-- 9 -->
      <div class="gallery-item">
        <img src="assets/img/thor.jpg"
          class="gallery-image">
        <div class="gallery-item-info">
          <p (click)="openComponent('thor')">
            Thor is a 2011 American superhero film based on the Marvel Comics character of the same name. Produced by Marvel Studios and distributed by Paramount Pictures,
            it is the fourth film in the Marvel Cinematic Universe (MCU). The film was directed by Kenneth Branagh, written by the writing team of Ashley Edward Miller and Zack Stentz along with Don Payne,
            and stars Chris Hemsworth as the title character, alongside Natalie Portman, Tom Hiddleston, Stellan Skarsgård, Colm Feore, Ray Stevenson, Idris Elba, Kat Dennings, Rene Russo, and
            Anthony Hopkins. The film sees Thor banished to Earth from Asgard, stripped of his powers and his hammer Mjölnir, after reigniting a dormant war.
            As his brother Loki plots to take the Asgardian throne, Thor must prove himself worthy.
          </p>
        </div>
      </div>

    </div>
    <!-- End of gallery -->

  </div>
  <!-- End of container -->

</body>

</html>
