<html>

  <head>
    <meta charset="UTF-8">
    <title>Images List</title>
  </head>

  <body>
    <div style="text-align:center">
    <div *ngIf="civilWar">
      <img src="assets/img/civil_war.jpg" class="images">
    </div>

    <div *ngIf="doctorStrange">
      <img src="assets/img/doctor_strange.jpg" class="images">
    </div>

    <div *ngIf="fantasticFour">
      <img src="assets/img/fantastic_four.jpg"  class="images">
    </div>

    <div *ngIf="guardians">
      <img src="assets/img/guardians_of_the_galaxy.jpg" class="images">
    </div>

    <div *ngIf="hulk">
      <img src="assets/img/hulk.jpg" class="images">
    </div>

    <div *ngIf="intoTheSpiderVerse">
      <img src="assets/img/into_the_spider_verse.jpg" class="images">
    </div>

    <div *ngIf="spiderMan2">
      <img src="assets/img/spider_man_2.jpg" class="images">
    </div>

    <div *ngIf="theAvengers">
      <img src="assets/img/the_avengers.jpg" class="images">
    </div>

    <div *ngIf="thor">
      <img src="assets/img/thor.jpg" class="images">
    </div>
  </div>
  </body>
</html>
